.Popup {
  border: 5px solid orange;
  background: teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: 600;
  width: 300px;
  height: 200px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Popup > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.Popup > form > button {
  margin-top: 0.2rem;
}
