.App {
  border: 5px solid orange;
  position: relative;
  width: 480px;
  height: 640px;
  cursor: pointer;
  background-image: url(./images/penguins.jpg);
  background-size: 480px 640px;
}

#p-score,
#s-score,
#e-score {
  /* color: darkcyan; */
  font-size: 4rem;
}
